{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Freddy De La Ese</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus explicabo eligendi accusamus, reiciendis et officia doloremque odio quod fuga consectetur quas. Facilis reprehenderit molestiae sit animi provident maxime vero veniam.</p>
         
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Singnup
            </a>
        </div>
    </section>
</main>
{% endblock %}